<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %level [%logger{0}]: %msg \(%class{25}.%method:%line\)%n</pattern>
		</encoder>
	</appender>

	<logger name="ch.qos.logback" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.eclipse.californium.core.network.InMemoryMessageExchangeStore.health" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.eclipse.californium.elements.rule.ThreadsRule" level="TRACE" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.eclipse.californium.core.test.lockstep.IntegrationTestTools" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.eclipse.californium.core.network.stack.ReliabilityLayer" level="WARN" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.eclipse.californium.core.network.stack.ObserveLayer" level="WARN" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.eclipse.californium.core.network.UdpMatcher" level="WARN" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.eclipse.californium.core.network.interceptors.HealthStatisticLogger" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.eclipse.californium.core.network.interceptors.MessageTracer" level="WARN" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.eclipse.californium.core.observe.ObserveRelation" level="WARN" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
