<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %level [%logger{0}]: %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/anonymorigin.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- roll-over monthly, or if filesize exceeds -->
			<fileNamePattern>logs/anonymorigin-%d{yyyy-MM}.%i.log</fileNamePattern>
			<!-- each file should be at most 10MB, keep 200 files worth of history, but at most 2GB -->
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>200</maxHistory>
			<totalSizeCap>2GB</totalSizeCap>
		</rollingPolicy>

		<encoder>
			<!-- use tab to separate timestamp from message -->
			<pattern>[%date{yyyy-MM-dd HH:mm:ss}]\t%msg%n</pattern>
		</encoder>
	</appender>

	<!-- ORIGIN only to file -->
	<logger name="org.eclipse.californium.core.network.interceptors.AnonymizedOriginTracer" level="TRACE" additivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<!-- Strictly speaking, the level attribute is not necessary since -->
	<!-- the level of the root level is set to DEBUG by default. -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
